google-cloud-aiplatform>=1.30.0
google-cloud-logging==3.11.3
streamlit
pandas
numpy
plotly
shap
matplotlib
scikit-learn
nltk
torch
transformers
spacy
umap-learn
gensim
seaborn
IPython
keybert
networkx
